
html, body,#root{
  height: 100%;
  width: 100%;
  scroll-behavior: smooth;
  padding: 0px !important;
  margin: 0px !important;
  /* overflow-x: hidden; */
}
a{
  color: inherit;
  text-decoration: none;
}

:root {
  --black: #000000;
  --white: #ffffff;
  --red: #e10800;
  --gray: #7e7c7c;
  --padding: 0% 15%;

  /* --padding1: 0% 7%; */
  --padding1: 0% 10%;
  --bg_gray:#f4f4f4
}

.loader{
  position: absolute;
  height: 100vh;
  width: 100%;
  overflow: hidden;
  pointer-events: none;
  background-color: var(--black);
  z-index: 100;
}